
<div class="container-fluid p-0">
  <div class="row body m-0 align-content-center">
    <div class="col-md-12">
      <div class="col-md-6 offset-md-3">
        <div class="text-center pt-5">
          <img class="logoImg"  src="../../../assets/images/circle_logo.png" />
          <!-- <small class="d-block mt-3">Enjoy the Show</small> -->
          <form [formGroup]="loginForm" class="col-md">
            <div
              class="form row justify-content-center"
              style="padding-top: 90px"
            >
              <div class="mb-3 col-md-8 mb-4 position-relative">
                
                <input
                  type="text"
                  class="form-control"
                  formControlName="userName"
                  id="exampleFormControlInput1"
                  placeholder="Email"
                />
                <div *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)" class="errormessage text-left">
                  <div *ngIf="loginForm.controls['userName'].errors.required">
                    Email is required.
                  </div>
              </div>
              </div>
              <div class="mb-3 col-md-8 mb-1 position-relative">
                
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  id="exampleFormControlInput1"
                  placeholder="Password"
                />
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="errormessage text-left">
                  <div *ngIf="loginForm.controls['password'].errors.required">
                    Password is required.
                  </div>
              </div>
              </div>
            </div>
            <div class="rightArrow mt-3 mb-3" style="cursor:pointer"  (click)="login()">
              <i  style="cursor:pointer" class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </div>
         
            <!-- <p class="register d-block" style="cursor:pointer" routerLink="/signup">Register New Company</p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
