<p class="text">Intro Video</p>
<br /><br />
<div class="outer_section">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="row pull-right mr-4">
    <p *ngIf="List.length == 0">
      <button #modalBtn (click)="updateUserStatusModal('row', updateStatus, modalBtn)" class="btn _matinet_btn d-flex">
        <span class="_btn_icon"> <mat-icon> add </mat-icon></span> <span class="_btn_text">ADD VEDIOS</span>
      </button>
    </p>
  </div>
  <div class="row col-md-12">
    <div class=" col-md-5 col-sm-7">
      <!-- <button class="btn btn-info mb-2 " (click)="searchFiltersBtn()">Search</button> -->
      <!-- <app-searchbtn (click)="searchFiltersBtn()" ></app-searchbtn>
          <app-resetbtn (click)="onReset()" class="ml-2"></app-resetbtn> -->
    </div>
    <!-- <div class="col-md-7  col-sm-5">
          <div class="form-group pagination " style="float:right">
            <label class="mr-3" style="line-height: 40px;">Records</label>
            <div>
              <select class="form-control" [(ngModel)]="pageLimit">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </div> -->
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="row" *ngIf="showVedio == true">
    <div class="col-12">
      <ngx-datatable
        #table
        class="bootstrap"
        [rows]="List"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="50"
        [limit]="pageLimit"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [scrollbarH]="true"
      >
        <ngx-datatable-column name="Title">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{ row.title ? row.title : "NA" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Video Url">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span *ngIf="row.url">
              <img (click)="openwebView(row.url)" src="../../../../assets/images/direct-download.svg" class="image_" />
            </span>
            <span *ngIf="!row.url">--</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="CreatedOn">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{ row.insertDate * 1000 | date: "MM/dd/yyyy HH:mm:ss" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <img
              class="actionview mr-2"
              #modalBtn
              (click)="updateUserStatusModal(row, updateStatus, modalBtn)"
              src="../../../../assets/images/pencil.svg"
            />
            <!-- <img class="actionview" src="../../../../assets/images/delete (1).svg"  #statusBtn (click)="deleteModal(row)" style="cursor:pointer;height:18px" >  -->

            <!-- <button #modalBtn class="btn btn-info _playList" (click)="viewDetailModal(row,videoModalDetail,modalBtn)" >View Detail</button>
              <button #statusBtn class="btn btn-info _playList"  [routerLink]="['/main/video/edit', row.videoId]" > Edit</button>
              <button #statusBtn1 class="btn btn-info _playList" (click)="updateUserStatusModal(row,updateStatus,statusBtn1)" >Add PlayList</button>  -->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<ng-template #updateStatus let-modal>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ headTitle }}
    </h4>
    <button type="button" class="btn btn-link close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="statusForm">
        <div class="col-md-12">
          <div class="col position-relative">
            <mat-form-field class="example-full-width w-100">
              <mat-label>Title</mat-label>
              <input matInput placeholder="title" formControlName="title" />
            </mat-form-field>
            <div
              *ngIf="statusForm?.controls.title.errors && statusForm?.get('title')?.touched"
              class="error-wrappers position-absolute"
              style="top:50px"
            >
              <span class="error-login" *ngIf="statusForm.controls.title.errors.required">*title is required</span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <span class="inline-block name">File name :</span>
            <label for="fileupload " class="name ml-2">{{ label }}</label>
            <input type="file" (change)="uploadAttachment($event)" accept="video/*" class="form-control" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success rounded"
      [disabled]="!statusForm.valid"
      (click)="updateUserStatus()"
    >
      Save Changes
    </button>
    <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>
