body {
    margin: 0;
    padding: 1rem;
  }
  
  .blocks {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 50%;
    z-index: 9999;
    left: 50%;
    align-items: center;
    height: 100vh;
    background: #000000;
    opacity: .9!important;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .block {
    --sz: 23px;
    --tX: 0;
    --animation: 700ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;
    --hm: 2vmin;
    height: var(--sz);
    width: var(--sz);
    background-image: var(--bg);
    border-radius: 50%;
    transform: translateX(var(--tX));
    mix-blend-mode: lighten;
  }
  
  .orange {
    --bg: linear-gradient(-50deg, #fbab7e 0%, #f7ce68 100%);
    margin-right: var(--hm);
    animation: attract-orange var(--animation);
  }
  
  .blue {
    --bg: linear-gradient(50deg, #00bfd5 0%, #c5f5ff 100%);
    margin-left: var(--hm);
    animation: attract-blue var(--animation);
  }
  
  @keyframes attract-orange {
    to {
      transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
    }
  }
  
  @keyframes attract-blue {
    to {
      transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
    }
  }