<p class='d-block text-center text'>Audio Tour</p>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/main/audio-management/view-english']"
      >English Audio</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link color" routerLinkActive="active" [routerLink]="['/main/audio-management/view-spanish']"
      >Spanish Audio</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
