.nav-tabs .nav-item {
    background-color: #ececec;
    width: 35%;
    margin: 5px;
    color:white;
    border-radius: 10px;
    text-align: center;
    a {
        color:rgb(153, 153, 153);
    }
}
.nav-link.active {
    color:rgb(245, 245, 245)!important;
    background-color: #7abf00;
    border-color: #dee2e6 #dee2e6 #fff;
    color: white;
    border-radius: 10px;
    a {
        color:rgb(245, 245, 245)!important;
    }
}
.text{
    color:#7ABF00;
    text-align: center;
    font-size:25px;
}
.nav {
    justify-content: center!important;
    border:none!important;
}
