
img {
    height: 150px;
    width: 150px;
    margin-top: 25px;
}

.img2 {
    height: 250px;
    width: 200px;
    margin-top: 25px;
}
.inputfile {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
height: 75%;
opacity: 0;
z-index: 1;
}
p {
    font-size: 20px;
    font-weight: bold;
    color: #5f5d5d;
}


.outer {
     
    background-color: #bdd4e7;
    height: 335px;
    border-radius: 12px;
    padding: 42px 20px 34px 20px;
}
.outer:hover {
    p {
        color:rgb(0, 0, 0);
    }
    img {
        padding:5px;
    }
    background-color: #b6c3ce;
    border-radius: 12px;
    transition: ease-in-out 2s;
    padding: 42px 20px 34px 20px;
}

input[type='file'] {
    color: transparent;
    

  }
  .inputFile {
    left: 25%;
    top: 25px;
    width: 50%;
    height: 36px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .uploadBtn {
    left: 25%;
    top: 26px;
  }