h3{
    margin-left: 60px;
    color:grey;
    
}

.input{
   width:400px; 
   
}
button{
    margin-top: 40px;
    margin-left: 150px;
    padding-left: 40px;
    padding-right: 40px;
}
img {
    height: 90px;
    width: 90px;
}

.innerbox {
    background-color: white;
    padding: 70px;
}
