<div class="container">
    <div class="col-md-12">
      <div class="innerbox mt-5 text-center">
        <div>
          <!-- <p class="p-0" *ngIf="attachmentUrl?.length == 0"><img src="../../../../assets/images/cross.svg" /></p>
          <p class="p-0" *ngIf="attachmentUrl?.length > 0"><img src="../../../../assets/images/file.png" /></p> -->
          <input (change)="onFileChanged($event)" accept="image/x-png,image/jpeg" type="file" />
        </div>
      </div>
    </div>
  </div>
